@using CarsMVC.ViewModels
@model ServiceViewModel

@{
    ViewBag.Title = "View";
}

<h2>Details for Service: @ViewBag.CarString</h2>

<div>
    <h4>ServiceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.ServiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceLines[0].ServiceLineTypeString)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ServiceLines[0].ServiceLineDesc)
                        </th>
                        <th align="right">
                            @Html.DisplayNameFor(model => model.ServiceLines[0].ServiceLineCharge)
                        </th>

                        <th></th>
                    </tr>

                    @for (int i = 0; i < Model.ServiceLines.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.ServiceLines[i].ServiceLineTypeString)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.ServiceLines[i].ServiceLineDesc)
                            </td>
                            <td align="right">
                                @Html.DisplayFor(m => m.ServiceLines[i].ServiceLineCharge)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceID }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.CarID })
</p>
