@using CarsMVC.ViewModels
@model ServicesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Services for @Html.DisplayFor(m => m.ForCar)</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Model.ForCarId })
</p>
@if (Model.Services is null)
{
    <h2>No services yet for this auto.</h2>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].TechName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].TotalCost)
            </th>

            <th></th>
        </tr>

        @foreach (ServiceViewModel item in Model.Services)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TechName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ServiceID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ServiceID })
                </td>
            </tr>
        }
    </table>
}
<a href="javascript:history.back()">Go Back</a>
