@model CarsMVC.ViewModels.CarsViewModel
@section Scripts
{
    <script>
        $(function () {
            $('input[data-autocomplete]').each(function () {
                var url = $(this).data('autocomplete');
                $(this).autocomplete({
                    change: function (event, ui) {
                        if (!ui.item) {
                            $(this).val('');
                        }
                    }
                    ,
                    source: function (request, response) {
                        $.getJSON(url, {
                            term: request.term
                        }, response);
                    }
                });
            });
            $('input[data-autocomplete]').first.keypress(function (e) {
                if (e.keyCode == 13)
                    $('#go').click();
            });

        });

    </script>
}
@section AddToHead{
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/autocomplete.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Car Search";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Select a Car</h1>

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="row">
            <div class="well col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-4">
                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.SelectYears, "Value", "Text"), null, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10 ui-widget ui-widget-content">
                        @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control", placeholder = "Any Owner",
                        data_autocomplete = $"{@Url.Action("SearchOwner", "Cars")}" } })
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8"></div>
                    <div class="form-group col-sm-4">
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-8"></div>
        </div>
    </div>
    <button type="button" id="go" class="btn btn-success" onclick="location.href='@Url.Action("Create")'">Add Car</button>
}


