@model IEnumerable<CarsMVC.ViewModels.CarViewModel>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/confirm-Bootstrap.js")"></script>
    <script>$('a.confirm').confirmModal()</script>
}


@{
    ViewBag.Title = "Index";
}

<h2>Car Search Results</h2>

@if (Model.Any() == false)
{
    <h4>No results found for @ViewBag.Search.</h4>
}
else
{
    <div class="container">
        <div class="well col-md-8">
            <table class="table table-condensed table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Make)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Owner)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    var myModal = "myModal" + item.CarID;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Make)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Owner)
                        </td>
                        <td>
                            @Html.ActionLink("Services", "Services", new { id = item.CarID }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.CarID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CarID }, new { @class = "confirm" })

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Filter","Cars")'">Back</button>
